@media screen and (max-width: 1200px){
  .brand__item{
    width: 19%;
    img{
      width: 100%;
    }
  }
  .feedback{
    .feedback__form{
      padding: 39px 40px 52px;
      &:after{
        top: 120px;
      }
      &:before{
        height: 120px;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .footer{
    text-align: center;
  }
  .feedback{
    .feedback__form{
      padding: 39px 40px 52px;
      &:after{
        top: 210px;
      }
      &:before{
        height: 210px;
      }
    }
  }
}
@media screen and (min-width: 992px){
  .newsletter__note{
    white-space: nowrap;
  }
  .btn-success{
    min-width: 192px;
  }
  .getstarted__btn{
    float: right;
  }
}
@media screen and (max-width: 768px){
  .brand__item{
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    img{
      width: auto;
    }
  }
  .footer .footer__title{
    margin-top: 20px;
  }
  .testimonial .testimonial__slider .testimonial__slide{
    padding: 0;
  }
  .header {
    .header__logo{
      justify-content: center;
    }
    .header__menu{
      flex-wrap: wrap;
      justify-content: center;
      .header__menu-item{
        width: 100%;
        text-align: center;
        .header__menu-item-text{
          font-size: 20px;
          padding: 10px 0;
        }
      }
    }
    .jumbotron{
      margin-top: 50px;
    }
  }
  .feedback{
    .feedback__form{
      &:after{
        top: 110px;
      }
      &:before{
        height: 110px;
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 768px){
  .feedback{
    .feedback__form{
      &:after{
        top: 95px;
      }
      &:before{
        height: 95px;
      }
    }
  }
}
@media screen and (min-width: 768px){
  .container .cource__jumbotron{
    padding-left: 35px;
    padding-right: 35px;
  }
  .container .feedback__jumbotron{
    padding-left: 96px;
    padding-right: 0;
  }
}

@media screen and (max-width: 384px){
  .feedback{
    .feedback__form{
      &:after{
        top: 160px;
      }
      &:before{
        height: 160px;
      }
      .btn-success{
        width: 100%;
        padding: 18px 20px;
      }
    }
  }
  .feedback__jumbotron .jumbotron__title{
    font-size: 54px;
  }
}
@media screen and (max-width: 400px){
  .feedback{
    .feedback__form{
      &:after{
        top: 150px;
      }
      &:before{
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 384px){
  .feedback{
    .feedback__form{
      &:after{
        top: 170px;
      }
      &:before{
        height: 170px;
      }
    }
  }
}