.title{

}
.title_big{

}
.title_color{
  color: #a0c540;
}
.title-primary{
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 6px;
  letter-spacing: 0.2px;
  color: #464646;
  font-weight: 300;
}
.subtitle-primary{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 58px;
  color: #959595;
}