.brand{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #f6f8fa;
  .brand__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 21px 0;
  }
  .brand__item{
    display: inline-flex;
  }
}