.btn{
  outline: none;
  &:focus{
    outline: none;
  }
}
.btn-primary{
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  &:hover{
    background-color: #8cc82d;
    border-color: #8cc82d;
  }
  &:focus{
    background-color: #8cc82d;
    border-color: #8cc82d;
    outline: none;
  }
  &:active, &:active:hover, &:active:focus{
    background-color: #8cc82d;
    border-color: #8cc82d;
    outline: none;
  }

}

.btn-primary_dark{
  border-color: #636363;
  color: #636363;
  &:hover{
    background-color: #8cc82d;
    border-color: #8cc82d;
    color: #fff;
  }
  &:focus{
    background-color: #8cc82d;
    border-color: #8cc82d;
    color: #fff;
    outline: none;
  }
  &:active, &:active:hover, &:active:focus{
    background-color: #8cc82d;
    border-color: #8cc82d;
    color: #fff;
    outline: none;
  }
}

.btn-lg{
  padding: 16px 39px;
  font-size: 15px;
}

.btn-down__wrap{
  display: block;
  text-align: center;
  .btn-down{
    display: inline-block;
    width: 53px;
    height: 53px;
    background-image: url(../img/btn-down.png);
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
    &:hover{
      background-image: url(../img/btn-down-hover.png);
    }
  }
}

.btn-success{
  background-color: #8CC82D;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 18px 63px;
  border-radius: 0;
  border: 0;
  &:hover{
    background-color: #363636;
  }
  &:focus,&:active{
    background-color: #363636;
    outline: none;
  }
}

