.course{
  padding: 105px 0 55px;
  background-color: #f6f8fa;
  .course-category{
    .course-category__item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f69779;
      height: 170px;
      margin-bottom: 40px;
      padding: 20px 19px;
      cursor: pointer;
      transition: 0.3s ease-out;
      &:hover{
        box-shadow: -2px 5px 55px -16px #000;
      }
      .course-category__item-icon{
        margin-bottom: 20px;
      }
      .course-category__item-title{
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        word-break:break-word;
      }
    }
    .course-category__view-all{
      display: block;
      color: #a4a4a4;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: -18px;
      margin-bottom: 10px;
      font-size: 12px;
    }
  }
}