.footer{
  background-color: #f6f8fa;
  padding: 95px 0 68px;
  .footer__logo{
    margin-left: 2px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .footer__slogan{
    font-size: 12px;
    color: #959595;
    font-weight: 300;
    margin-left: 2px;
    letter-spacing: 0px;
    word-spacing: 1px;
    line-height: 19px;
    margin-bottom: 49px;
  }
  .footer__title{
    font-size: 20px;
    color: #233141;
    margin-top: 8px;
    margin-bottom: 18px;
  }
  .footer__text{
    font-size: 14px;
    color: #959595;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    a{
      color: #959595;
      &:hover{
        color: #8cc82d;
        text-decoration: underline;
      }
    }
  }
}

.soc{
  margin-left: 2px;
  .soc__item{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    color: #a0a0a0;
    margin-right: 8px;
    transition: 0.3s ease-out;
    &:hover{
      color: #8cc82d;
      border-color: #8cc82d;
    }
  }
}


.copy{
  text-align: center;
  background-color: #f6f8fa;
  border-top: 1px solid #e1e1e1;
  padding: 25px 0;
  .copy-text{
    color: #8cc82d;
    font-size: 11px;
    font-weight: 300;
  }
}