.form{
  .form__title{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 38px;
  }
  .form__subtitle{
    font-size: 14px;
    color: #a0c540;
    text-transform: uppercase;
  }
}


.feedback{
  padding: 67px 0 71px;
  .feedback__form{
    padding: 39px 70px 52px;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 56px -11px rgba(0, 0, 0, 0.50);
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 138px;
      background-color: #8cc82d;
      z-index: -1;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 138px;
      right: 0;
      left: 0;
      z-index: -1;
      background-image: url(../img/ange-form.png);
      background-repeat: no-repeat;
      min-height: 46px;
      height: auto;
      width: 100%;
      background-size: 100% 100%;
    }
    .form__title{
      margin-bottom: 91px;
      color: #ffffff;
    }
    .form__subtitle{
      margin-bottom: 37px;
    }
  }
  .form-group{
    margin-bottom: 52px;
  }
}

.input-primary{
  display: block;
  width: 100%;
  border: none;
  letter-spacing:1.5px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 3px;
  font-weight: 400;
  color:#878787;
  margin-bottom: 39px;
  &::-webkit-input-placeholder,&::-moz-placeholder,&:-moz-placeholder,&:-ms-input-placeholder {
    color:#878787;
    font-size: 16px;
  }
}

.input-secondary{
  display: block;
  width: 100%;
  padding: 17px 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  background-color: #ffffff;
  color: #999999;
  box-shadow: none;
  border: 1px solid #dbdee0;
  &::-webkit-input-placeholder,&::-moz-placeholder,&:-moz-placeholder,&:-ms-input-placeholder {
    color:#999999;
    font-size: 15px;
  }
}

.newsletter{
  padding: 123px 0 82px;
  background-color: #f6f8fa;
  .newsletter__title{
    text-align: center;
    font-size: 27px;
    color: #464646;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 26px;
  }
  .input-secondary{
    margin-bottom: 20px;
  }
  .btn-success{
    padding: 18px 25px;
    width: 100%;
    margin-bottom: 9px;
  }
  .newsletter__note{
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
    margin-left: 7px;
    letter-spacing: 0px;
    word-spacing: 1px;
  }
}



