*{
  outline: none;
  font-family: $font1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
ol,ul{
  margin: 0;
}
a{
  text-decoration: none;
  &:hover,&focus,&:active,&:visited{
    text-decoration: none;
    outline: none;
  }
}
body{
  font-family: $font1;
  position: relative;
  min-width: 268px;
}






