.getstarted{
  background-color: #8cc82d;
  padding: 69px 0 51px;
  .getstarted__title{
    font-size: 30px;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 20px;
  }
  .getstarted__btn{
    background-color: #363636;
    padding: 15px 23px;
    max-width: 100%;
    min-width:100px;
    white-space: normal;
    border: 3px solid #363636;
    &:hover{
      color: #363636;
      background-color: #ffffff;
      border: 3px solid #363636;
    }
  }
}