.header{
  .header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    .header__menu-item{
      display: inline-block;
      .header__menu-item-text{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        &:hover{
          color: #8cc82d;
        }
      }
    }
  }
  .header__logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .jumbotron{
    margin-top: 268px;
    margin-bottom: 248px;
  }
}
.header_with-image{
  background-image: url(../img/header-image.png);
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: 31px;
  padding-bottom: 20px;
}

