.jumbotron{
  background-color: transparent;
  text-align: center;
  .jumbotron__title{
    color: #ffffff;
    font-size: 58px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 19px;
  }
  .jumbotron__text{
    color: #ffffff;
    margin-bottom: 29px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .btn-primary{
    margin: 0 10px 10px;
  }
}

.cource__jumbotron{
  padding: 0;
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
  display: none;
  &:first-of-type{
    display: block;
  }
  .jumbotron__title{
    color: #464646;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .jumbotron__text{
    color: #959595;
    font-size: 14px;
    text-transform: none;
    line-height: 24px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 24px;
    &:last-of-type{
      margin-bottom: 38px;
    }
  }
  .btn-primary{
    margin-left: 0;
  }
}

.feedback__jumbotron{
  text-align: left;
  padding-top: 135px;
  padding-left: 96px;
  .jumbotron__title{
    font-size: 72px;
    color: #8cc82d;
    font-weight: 400;
    margin-top: 0;
    letter-spacing: 0px;
    word-spacing: -3px;
    margin-bottom: 16px;
  }
  .jumbotron__text{
    color: #959595;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .jumbotron__text_small{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 23px;
  }
  .btn-primary{
    margin-left: 0;
  }

}