.services{
  padding: 123px 0 85px;
  background-color: #ffffff;
  .title-primary{
    margin-bottom: 45px;
  }
  .services__item{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 35px;
    .services__item-image{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      height: 91px;
      margin-bottom: 18px;
    }
    .services__item-title{
      font-size: 20px;
      margin-bottom: 12px;
      font-weight: 300;
    }
    .services__item-text{
      font-size: 15px;
      line-height: 23px;
      font-weight: 300;
      color: #959595;
    }
  }
}