.testimonial{
  background-color: #464646;
  padding: 99px 0 97px;
  .testimonial__slider{
    .testimonial__slide{
      text-align: center;
      padding: 0 120px;
      .testimonial__icon{
        text-align: center;
        margin-bottom: 43px;
        img{
          display: inline-block;
        }
      }
      .testimonial__text{
        font-size: 24px;
        color: #ffffff;
        line-height: 31px;
        margin-bottom: 38px;
        font-weight: 300;
      }
      .testimonial__author{
        color: #ffffff;
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: 300;
      }
      .testimonial__profession{
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
      }
    }
    .slick-dots{
      text-align: center;
      margin-top: 36px;
      li{
        display: inline-block;
        margin: 0 10px;
        button{
          font-size: 0;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          border: none;
          background-color: #ffffff;
        }
      }
      li.slick-active{
        button{
          width: 14px;
          height: 14px;
          background-color: #8cc831;
        }
      }
    }
  }
}